*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1d1d1d;
}
.input_div {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    /*border: solid 1px #00b768;*/
}
.left_div {
    width: 300px;
    height: 300px;
    float: left;
    color: #fff;
    background-color: rgba(0,183,104,0.7);

}
.left_div .h1,p{
    padding: 30px 5% 10px 5%;
}
.left_div .h1 {
    font-size: 30px;
    height: 100px;
}
/*提示信息*/
.info {
    height: 50px;
    width: 50%;
    position: absolute;
    bottom: 0px;
    background-color: #e9eeff;
    border-left: 10px solid #8f1cff;
    color: #8f1cff;
    line-height: 50px;
    padding: 0px 1em ;
}
/*错误提示信息*/
.info_error {
    height: 50px;
    width: 50%;
    position: absolute;
    bottom: 0px;
    background-color: #e9eeff;
    border-left: 10px solid #ff4852;
    color: #ff4852;
    line-height: 50px;
    padding: 0px 1em ;
}
.input_div form{
    width:300px;
    height: 290px;
    float: right;
}
.input_div input{
    width: 95%;
    height: 40px;
    margin: 5px 2.5%;
    padding: 0em 1em;
    background-color: transparent;
    border: 2px solid #00cf7c;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    outline: none;
    border-radius: 5px;
    font-size: 100%;
    color: #fff;
}
.input_div input:focus{
    border:2px solid #8f1cff;
    color: #00cf7c;
}
.input_div input[type='submit']{
    background-color: #00cf7c;
    color: #fff;
}
.input_div input[type='submit']:hover{
    background-color: #8f1cff;
    border: 3px solid #8f1cff;
    color: #fff;
    margin-bottom: 0;
}
.button {
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: #e9eeff;
    color: #8f1cff;
    margin: 40px 0px 0 190px ;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}
.button:hover {
    background-color: #8f1cff;
    color: #fff;
}
.main {
    width: 630px;
    height: 330px;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    border: 5px solid #fff;
}